<div class="course-background-image">
  <%= image_tag("stratupclose2.jpg") %>
  <div class="course-background-image-overlay">
    <h1 class="course-background-text">....COMING SOON....</h1>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>