<div class="course-background-image">
  <%= image_tag("stratupclose2.jpg") %>
  <div class="course-background-image-overlay">
    <div class="course-left">
      <h1 class="course-background-text">Building Your Repertoire</h1>
      <hr>
      <p class="course-background-text">Whether you want to play around the camp fire, perform in front of 10,000 people, or just play for yourself and loved ones, <br>every guitar player has a go-to set of songs they love to play. These 10 songs are classics that everyone knows and loves. <br>The great thing about this course is that the amount of skill and technique that you build learning these songs <br>will greatly aid you in every other aspect of your guitar journey; no matter what style you're interested in.</p>
      <br>
      <br>
    </div>
    <a href="https://teachable.com/" target="_blank" type="button" class="btn btn-primary">Buy Now!</a>
    <div class="course-right">
      <i class="fa fa-lightbulb-o" aria-hidden="true">&nbsp All Levels</i><br>
      <br>
      <hr>
      <i class="fa fa-clock-o" aria-hidden="true">&nbsp 2 Hours 45 Minutes</i><br>
      <br>
      <hr>
      <i class="fa fa-th" aria-hidden="true">&nbsp 10 Lessons</i>
      <hr>
    </div>
  </div>
</div>

<h1>Guitar Courses</h1>
<div class="course-preview">
  <a href><%= link_to image_tag("stratupclose.jpg"), course_one_path %></a>
  <p>10 CLASSICS EVERY GUITAR <br> PLAYER SHOULD KNOW</p>
  <br>
  <br>
</div>