<div class="background-image">
  <%= image_tag("Acoustic landing page.jpg") %>
  <div class="background-image-overlay">
    <h1 class="background-text">ONLINE GUITAR LESSONS</h1>
    <hr>
    <p class="background-text">LEARN &nbsp|&nbsp PLAY &nbsp|&nbsp JAM</p>
  </div>
</div>

<div class="home-content">
  <h1>Courses</h1>
  <br>
  <p>Our courses were created to help you achieve a solid foundation of guitar fundamentals.</p> 
  <p>They will profoundly expand your general playing, improvisation, and song writing abilities. Dive in and start having fun!</p>
  <br>
</div>

<div class="course-preview">
  <a href><%= link_to image_tag("stratupclose.jpg"), course_one_path %></a>
  <p>10 CLASSICS EVERY GUITAR <br> PLAYER SHOULD KNOW</p>
  <br>
  <br>
  <div class="tutorial"></div>
  <div class="tutorial"></div>
  <div class="tutorial"></div>
  <div class="tutorial"></div>
  <div class="tutorial"></div>
</div>


